
- name: Configuring/installing Docker and deploying Docker app 
  hosts: all
  become: yes  # to work as sudo
  tasks:
    - name: Upgrade all packages
      ansible.builtin.dnf:
        name: "*"
        state: latest       # equivalent to sudo dnf update

    - name: Install Docker
      ansible.builtin.dnf:
        name: docker
        state: present # to install Docker     /////// equivalent to sudo dnf install docker

    - name: Start docker on boot
      ansible.builtin.service:
        name: docker
        state: started  # ensures the Docker service is running    /////// equivalent to systemctl start
        enabled: yes    # ensures Docker starts automatically on boot    ///// equivalent to systemctl enable

#------------------- PART 3 --------------------------

    - name: Install Python pip
      ansible.builtin.dnf:
        name: python3-pip
        state: present

    - name: Install Docker SDK for Python # to be able to use modules as docker_image and docker_container
      ansible.builtin.dnf:
        name: python3-docker
        state: present

    - name: Copy app directory to EC server
      ansible.builtin.copy:
        src: app/
        dest: /home/ec2-user/app
  
    - name: Build docker image from Dockerfile
      ansible.builtin.docker_image:  
        name: ca-1-app
        build:
            path: /home/ec2-user/app
        force_source: true    # re-build the image every time (in case I do changes on index.html)
        source: build
        state: present

    - name: Run the Docker container
      ansible.builtin.docker_container:
        name: ca-1-container
        image: ca-1-app
        state: started
        restart_policy: always
        ports:
          - "80:80"

    
  




# to run the configuration: ansible-playbook -i inventory.ini docker_setup.yml